.about-us-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  color:rgb(255, 255, 255);
  opacity: 0; /* Initial opacity set to 0 for the fade effect */
  animation: fadeIn 1s forwards; /* Animation to fade in the element */
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Start with opacity 0 */
  }
  to {
    opacity: 1; /* End with opacity 1 */
  }
}

.about-us-empty {
  margin-top: 15vh;
}

.section {
  margin-bottom: 40px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  line-height: 1.6;
}

a {
  color: blue;
  text-decoration: underline;
}

a:hover {
  color: darkblue;
}

@media screen and (max-width: 768px) {
  .about-us-empty {
    margin-top: 20vh;
  }
}
