.about-us-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  color:rgb(255, 255, 255)
  
}
.about-us-empty{
  margin-top: 15vh;
}

.section {
  margin-bottom: 40px;
 
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  line-height: 1.6;
}

a {
  color: blue;
  text-decoration: underline;
}

a:hover {
  color: darkblue;
}
