.banner2 {
  background-color: #737373; /* Background color for the banner */
  padding: 20px; /* Padding around the content */
  text-align: center; /* Center-align content */
  margin-top: 14.5vh;
  border: 2px solid #000000; /* Border outline with black color */
  color: #fff; /* Font color set to white */
  font-family: 'Roboto', sans-serif; /* Use Roboto font family */
  margin-bottom: 2vh;
}

.banner-header2 {
  font-size: 4vh; /* Font size for the main header */
  margin-bottom: 10px; /* Bottom margin for spacing */
}

.sub-header2 {
  font-size: 2.75vh; /* Font size for the sub-header */
  margin-bottom: 15px; /* Bottom margin for spacing */
}

.banner-paragraph2 {
  font-size: 1.75vh; /* Font size for the paragraph */
  line-height: 1.5; /* Line height for readability */
}

@media screen and (max-width: 768px) {
  .banner2 {
  margin-top: 42vh;
  }

}