@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}




.nav {
  height: auto;
  display: flex;
 
  
  align-items: center;
  justify-content: space-between;
  width: 100%;
 
  position: fixed;
  background-color: #393939;
  z-index: 1000; /* Ensures it stays on top of other content */
}

.nav-logo img {
  width: 40%; /* Adjust width to be relative */
  height: 100px; /* Let the height adjust dynamically */
  max-height: 150px; /* Set a maximum height */
}

.nav-link {
  color: #fffefc;
  font-weight: 600;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  border-radius: 12px;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    color: #b6b6b6;
  }
  &.active {
      color: #686868;
  }
}

.nav-logout {
  color: #000000;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 5px;
}

.bars {
  display: none;
  color: #808080;
  @media screen and (max-width: 768px) {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 75%);
      font-size: 1.8rem;
      cursor: pointer;
  }
}

.nav-menu {
  display: flex;
  align-items: center;
  @media screen and (max-width: 768px) {
      display: none;
  }
}

.nav-signup {
  display: flex;
  color: #fffefc;
  flex-direction: row;
}

.logged-in {
  display: flex;
  //flex-direction: row;
 // align-items: center;
 
  font-weight: 600;
}

.nav-user  {
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }
}

.nav-user span {
  margin-right: 0px;
}

.logged-in span {
  margin-right: 8px;
}

.logged-in button {
  background: none;
  border: none;
  text-align: center;
  font-size: 16px;
  padding: 0px;
  &:hover {
    color: #324fe1;
  }
}

.nav-link-divider {
  margin-left: -9px;
  margin-right: -8px;
}

.dark-mode {
  margin-left: -100px;
}

