





.entireweather {
  width: 20vh;
  padding: 20px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  background-color: rgb(145, 159, 174);
  color: #fff;
  width:95%;
  height:100vh;
  
}

.weatherarticle {
  
  padding: 20px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  background-color: rgb(145, 159, 174);
  color: #fff;
  height:80vh;
}



.weatherimg {
  width: 4.5vh;
  height: 4.5vh;
}

.weatherpage {
  background-color: #fff;
  margin: 0 auto;
  margin-top: 15vh;
  height:80vh;
  
  
 
}


